@import '../variables.scss';

.countdown-container {
    text-align: center;
    user-select: none;
    border-top: 1px solid #ddd;
    padding-bottom: $unit-half;
    position: relative;

    &.ringing {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
    }

    .value {
        font-size: $fontsize-xxbig;
    }
    .unit {
        margin-right: $unit-half;
    }

    .controls a:nth-child(1) {
        margin-right: $unit;
    }

    .delete-button {
        cursor: pointer;
        position: absolute;
        left: $unit-half;
        top: 14px;
        color: #aaa;

        &:hover {
            color: #000;
        }
    }
}

.btn-small {
    padding: 0 $unit-half;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
