// Units .......................................................................
$unit: 22px;
$unit-half: ($unit / 2);
$unit-plus: ($unit * 1.5);
$unit-quarter: ($unit / 4);
$unit-eighth: ($unit / 8);
$unit-double: ($unit * 2);
$unit-triple: ($unit * 3);

// Fonts .......................................................................

$fontsize-micro: 11px;
$fontsize-mini: 12px;
$fontsize: 14px;
$fontsize-medium: 16px;
$fontsize-big: 18px;
$fontsize-xbig: 24px;
$fontsize-xxbig: 36px;
