@import '../variables.scss';

.add-countdown {

    .editor-container {
        text-align: center;
        user-select: none;
        cursor: pointer;
        margin: 0 $unit-half;

        .unit {
            margin-right: $unit-half;
            font-size: 22px;
        }

        .add-countdown-button {
            margin-top: -28px;
        }
    }
}
